<div class="menu_section">
    <h3>Tổng Quát</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-home"></i> Quản Lý Biển Báo
          <span class="fa fa-chevron-down"></span
        ></a>
            <ul class="nav child_menu">
                <li><a href="/home">Thống Kê</a></li>
                <li><a href="/list">Danh Sách Biển Báo</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> Quản Lý Người Dùng
          <span class="fa fa-chevron-down"></span
        ></a>
            <ul class="nav child_menu">
                <li><a href="/accountSign">Tài Khoản Người Dùng</a></li>
                <li><a href="/report">Báo Cáo</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>